@import '../../styles/variables';

.tooltipContent {
	border-radius: $radius;
	padding: 0.5rem 0.75rem;
	font-size: 0.875rem;
	line-height: 1;
	color: hsl(var(--primary-foreground));
	background-color: hsl(var(--primary));
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 1000;

	&[data-state='delayed-open'][data-side='top'] {
		animation-name: slideDownAndFade;
	}
	&[data-state='delayed-open'][data-side='right'] {
		animation-name: slideLeftAndFade;
	}
	&[data-state='delayed-open'][data-side='bottom'] {
		animation-name: slideUpAndFade;
	}
	&[data-state='delayed-open'][data-side='left'] {
		animation-name: slideRightAndFade;
	}
}

.tooltipArrow {
	fill: hsl(var(--primary));
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
