@import 'global';
@import 'variables';
@import 'mixins';

:root {
	@include light-theme;
}

.dark {
	@include dark-theme;
}

body {
	background-color: $background;
	color: $foreground;
}

.bg-primary {
	background-color: $primary;
}

.text-primary {
	color: $primary;
}

.border {
	border-color: $border;
}
